# =========================
# DATASETS
# =========================

Dataset/
Raw/

# =========================
# MODELS
# =========================

*.pth
*.pt
*.ckpt
*.onnx

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENTS
# =========================

.venv/
venv/
env/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS FILES
# =========================

Thumbs.db
.DS_Store

# =========================
# ENVIRONMENT VARIABLES
# =========================

.env

# =========================
# LOGS
# =========================

*.log

# =========================
# TRAINING OUTPUTS
# =========================

runs/
checkpoints/
outputs/